{
    "swagger" : "2.0",
    "info" : {
      "description" : "##### Welcome to Blaze's API. This Documentation outlines all of our endpoints.\n\n##### Introduction\nIntroduction to the BLAZE Developer API. This API is designed for our partners to create new members, new orders, and much more.\n\n##### Authentication\nProvide each request with your Partner API key and your Dispensery API key. To do so in the header of the request place your partner key in the `partner_key` field. And your dispensery key in the `Authorization` field. \n\n##### Errors\nAll errors from this API will tell you the field that is causing the error, a message associated with that error, and the errorType.\n```\n\"field\":\"field_causing_error\",\n\"message\":\"why the field is causing the error\",\n\"errorType\": \"the.error.type.exception\",\n```\n",
      "version" : "1.0.0",
      "title" : "BLAZE Developer API",
      "contact" : {
        "name" : "Blaze Support Team",
        "email" : "integrations@blaze.me"
      }
    },
    "host" : "api.partners.blaze.me",
    "basePath" : "/",
    "tags" : [ {
      "name" : "Management - ACH"
    }, {
      "name" : "Blaze Partner Store - Asset"
    }, {
      "name" : "Blaze Partner Store - Product Batch Resource"
    }, {
      "name" : "Blaze Partner Brands"
    }, {
      "name" : "Blaze Partner Company Contact"
    }, {
      "name" : "Blaze PARTNER Store - Consumer Authentication"
    }, {
      "name" : "Blaze PARTNER  Store - Store Cart"
    }, {
      "name" : "Blaze PARTNER Store - Consumer User"
    }, {
      "name" : "Blaze Partner Store - Employee"
    }, {
      "name" : "Blaze Partner Store - Loyalty"
    }, {
      "name" : "Blaze Partner Memberships"
    }, {
      "name" : "Blaze PARTNER Payments"
    }, {
      "name" : "Blaze Partner Products"
    }, {
      "name" : "Blaze Partner Products V2"
    }, {
      "name" : "Blaze Partner Store - Purchase Order"
    }, {
      "name" : "Blaze Partner Inventory Reconciliations"
    }, {
      "name" : "Blaze Partner Vendor"
    }, {
      "name" : "Blaze PARTNER Store - Inventory"
    }, {
      "name" : "Blaze PARTNER Store - Store Info"
    }, {
      "name" : "Blaze PARTNER Transaction - TransactionSales"
    }, {
      "name" : "Management - PARTNER WebHook"
    } ],
    "schemes" : [ "http", "https" ],
    "paths" : {
      "/api/v1/mgmt/ach/shopachaccount" : {
        "get" : {
          "tags" : [ "Management - ACH" ],
          "summary" : "Get Current Shop ACH Account By Company",
          "description" : "",
          "operationId" : "getCurrentConfigurationByCompany",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "companyId",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "shopId",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "start",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultACHAccount"
              }
            }
          }
        },
        "post" : {
          "tags" : [ "Management - ACH" ],
          "summary" : "Save Shop ACH Account",
          "description" : "",
          "operationId" : "saveShopACHAccount",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/ACHAccountRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ACHAccount"
              }
            }
          }
        }
      },
      "/api/v1/mgmt/ach/shopachaccount/{shopACHAccountId}" : {
        "put" : {
          "tags" : [ "Management - ACH" ],
          "summary" : "Update Shop ACH Account",
          "description" : "",
          "operationId" : "updateShopACHAccount",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "shopACHAccountId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/ACHAccountRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ACHAccount"
              }
            }
          }
        },
        "delete" : {
          "tags" : [ "Management - ACH" ],
          "summary" : "Delete Shop ACH Account",
          "description" : "",
          "operationId" : "deleteShopACHAccount",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "shopACHAccountId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "default" : {
              "description" : "successful operation"
            }
          }
        }
      },
      "/api/v1/mgmt/ach/transaction/{achTransactionId}/denied" : {
        "post" : {
          "tags" : [ "Management - ACH" ],
          "summary" : "Cancel ach transaction",
          "description" : "",
          "operationId" : "cancelAchTransaction",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "achTransactionId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "default" : {
              "description" : "successful operation"
            }
          }
        }
      },
      "/api/v1/mgmt/ach/transaction/{transactionId}/capture" : {
        "post" : {
          "tags" : [ "Management - ACH" ],
          "summary" : "Capture ach transaction",
          "description" : "",
          "operationId" : "captureAchTransaction",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "transactionId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "default" : {
              "description" : "successful operation"
            }
          }
        }
      },
      "/api/v1/mgmt/ach/webhooks/stronghold" : {
        "get" : {
          "tags" : [ "Management - ACH" ],
          "summary" : "Stronghold Handle Webhook Request",
          "description" : "",
          "operationId" : "processResponse",
          "produces" : [ "text/html" ],
          "parameters" : [ {
            "name" : "pay_link_id",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "pay_link_type",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "pay_link_callback",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "payment_source_id",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "charge_id",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "tip_id",
            "in" : "query",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/InputStream"
              }
            }
          }
        }
      },
      "/api/v1/partner/asset/{assetKey}" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Asset" ],
          "summary" : "Get Asset",
          "description" : "",
          "operationId" : "getAssetStream",
          "produces" : [ "image/jpeg", "application/pdf", "image/png" ],
          "parameters" : [ {
            "name" : "assetKey",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "handleError",
            "in" : "query",
            "required" : false,
            "type" : "boolean"
          } ],
          "responses" : {
            "default" : {
              "description" : "successful operation"
            }
          }
        }
      },
      "/api/v1/partner/asset/upload/private" : {
        "post" : {
          "tags" : [ "Blaze Partner Store - Asset" ],
          "summary" : "Upload Private Document",
          "description" : "",
          "operationId" : "uploadDocument",
          "consumes" : [ "multipart/form-data" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "file",
            "in" : "formData",
            "required" : false,
            "type" : "file"
          }, {
            "name" : "name",
            "in" : "formData",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "assetType",
            "in" : "formData",
            "required" : false,
            "type" : "string",
            "enum" : [ "Photo", "Document", "Kml" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/CompanyAsset"
              }
            }
          }
        }
      },
      "/api/v1/partner/asset/upload/public" : {
        "post" : {
          "tags" : [ "Blaze Partner Store - Asset" ],
          "summary" : "Upload Public Document",
          "description" : "",
          "operationId" : "uploadPublicDocument",
          "consumes" : [ "multipart/form-data" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "file",
            "in" : "formData",
            "required" : false,
            "type" : "file"
          }, {
            "name" : "name",
            "in" : "formData",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "assetType",
            "in" : "formData",
            "required" : false,
            "type" : "string",
            "enum" : [ "Photo", "Document", "Kml" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/CompanyAsset"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/batches/transferInventory" : {
        "post" : {
          "tags" : [ "Blaze Partner Store - Product Batch Resource" ],
          "summary" : "Inventory transfer For Partner",
          "description" : "",
          "operationId" : "inventoryTransferHistory",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/PartnerInventoryTransferHistory"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/InventoryTransferHistory"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/batches" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Product Batch Resource" ],
          "summary" : "Get Batches",
          "description" : "",
          "operationId" : "getBatches",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "batchId",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "productId",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "start",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "term",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "status",
            "in" : "query",
            "required" : false,
            "type" : "string",
            "enum" : [ "IN_TRANSFER", "RECEIVED", "IN_TESTING", "READY_FOR_SALE", "PROCESSING", "ERROR", "FINISHED" ]
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultProductBatch"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/batches/dates/purchaseDate" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Product Batch Resource" ],
          "summary" : "Get Batches By Dates",
          "description" : "",
          "operationId" : "getBatchesByDateByPurchaseDate",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "startDate",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int64"
          }, {
            "name" : "endDate",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int64"
          }, {
            "name" : "start",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultProductBatch"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/batches/transferInventory/{historyId}" : {
        "put" : {
          "tags" : [ "Blaze Partner Store - Product Batch Resource" ],
          "summary" : "Inventory transfer For Partner",
          "description" : "",
          "operationId" : "updateInventoryTransferHistory",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "historyId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/PartnerInventoryTransferHistory"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/InventoryTransferHistory"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/batches/transferInventory/{historyId}/accept" : {
        "post" : {
          "tags" : [ "Blaze Partner Store - Product Batch Resource" ],
          "summary" : "Accept inventory transfer history's status for partner",
          "description" : "",
          "operationId" : "acceptInventoryTransferStatus",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "historyId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/PartnerInventoryTransferStatusRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/InventoryTransferHistory"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/batches/transferInventory/{historyId}/decline" : {
        "post" : {
          "tags" : [ "Blaze Partner Store - Product Batch Resource" ],
          "summary" : "Decline inventory transfer history's status for partner",
          "description" : "",
          "operationId" : "declineInventoryTransferStatus",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "historyId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/PartnerInventoryTransferStatusRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/InventoryTransferHistory"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/batches/quantities" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Product Batch Resource" ],
          "summary" : "Get Batch Quantity By Inventory",
          "description" : "",
          "operationId" : "getBatchQuantities",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "inventoryId",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "start",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultBatchQuantity"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/batches/{productId}/batchQuantityInfo" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Product Batch Resource" ],
          "summary" : "Get Batch Quantity By Product",
          "description" : "",
          "operationId" : "getBatchQuantity",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "productId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/definitions/BatchQuantity"
                }
              }
            }
          }
        }
      },
      "/api/v1/partner/store/batches/dates" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Product Batch Resource" ],
          "summary" : "Get Batches By Dates",
          "description" : "",
          "operationId" : "getBatchesByDate",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "startDate",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int64"
          }, {
            "name" : "endDate",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int64"
          }, {
            "name" : "start",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultProductBatch"
              }
            }
          }
        }
      },
      "/api/v1/partner/brands/{brandId}" : {
        "put" : {
          "tags" : [ "Blaze Partner Brands" ],
          "summary" : "Update Brand",
          "description" : "",
          "operationId" : "updateBrand",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/Brand"
            }
          }, {
            "name" : "brandId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/Brand"
              }
            }
          }
        },
        "delete" : {
          "tags" : [ "Blaze Partner Brands" ],
          "summary" : "Delete Brand",
          "description" : "",
          "operationId" : "deleteBrand",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "brandId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "default" : {
              "description" : "successful operation"
            }
          }
        }
      },
      "/api/v1/partner/brands" : {
        "post" : {
          "tags" : [ "Blaze Partner Brands" ],
          "summary" : "Create Brand",
          "description" : "",
          "operationId" : "addBrand",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/BrandAddRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/Brand"
              }
            }
          }
        }
      },
      "/api/v1/partner/companycontacts/contact" : {
        "post" : {
          "tags" : [ "Blaze Partner Company Contact" ],
          "summary" : "Create company contact",
          "description" : "",
          "operationId" : "createCompanyContact",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/PartnerCompanyContactRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/CompanyContact"
              }
            }
          }
        }
      },
      "/api/v1/partner/companycontacts/contact/{contactId}" : {
        "get" : {
          "tags" : [ "Blaze Partner Company Contact" ],
          "summary" : "Get company contact by id",
          "description" : "",
          "operationId" : "getCompanyContactById",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "contactId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/CompanyContactResult"
              }
            }
          }
        },
        "put" : {
          "tags" : [ "Blaze Partner Company Contact" ],
          "summary" : "Update company contact by id",
          "description" : "",
          "operationId" : "updateCompanyContact",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "contactId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/PartnerCompanyContactRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/CompanyContact"
              }
            }
          }
        }
      },
      "/api/v1/partner/companycontacts" : {
        "get" : {
          "tags" : [ "Blaze Partner Company Contact" ],
          "summary" : "Search vendors",
          "description" : "",
          "operationId" : "getCompanyContacts",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "startDate",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "endDate",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "skip",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultCompanyContact"
              }
            }
          }
        }
      },
      "/api/v1/partner/user/register" : {
        "post" : {
          "tags" : [ "Blaze PARTNER Store - Consumer Authentication" ],
          "summary" : "Register Consumer",
          "description" : "",
          "operationId" : "registerConsumer",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/ConsumerCreateRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerUser"
              }
            }
          }
        }
      },
      "/api/v1/partner/user/login" : {
        "post" : {
          "tags" : [ "Blaze PARTNER Store - Consumer Authentication" ],
          "summary" : "Consumer Login",
          "description" : "",
          "operationId" : "loginConsumer",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/ConsumerLoginRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerAuthResult"
              }
            }
          }
        }
      },
      "/api/v1/partner/user/find" : {
        "get" : {
          "tags" : [ "Blaze PARTNER Store - Consumer Authentication" ],
          "summary" : "Find User",
          "description" : "",
          "operationId" : "findUser",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "email",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "phoneNumber",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "country",
            "in" : "query",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerUser"
              }
            }
          }
        }
      },
      "/api/v1/partner/user/{cuid}" : {
        "get" : {
          "tags" : [ "Blaze PARTNER Store - Consumer Authentication" ],
          "summary" : "Get User By Id",
          "description" : "",
          "operationId" : "getUserById",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "cuid",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerUser"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/cart/{consumerCartId}" : {
        "get" : {
          "tags" : [ "Blaze PARTNER  Store - Store Cart" ],
          "summary" : "Get Cart by id.",
          "description" : "",
          "operationId" : "getCartById",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "consumerCartId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "cuid",
            "in" : "query",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerCart"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/cart/updateCart/{consumerCartId}" : {
        "post" : {
          "tags" : [ "Blaze PARTNER  Store - Store Cart" ],
          "summary" : "Update Cart to the platform.",
          "description" : "",
          "operationId" : "updateCart",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "consumerCartId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/ConsumerCart"
            }
          }, {
            "name" : "cuid",
            "in" : "query",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerCart"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/cart/submitCart/{consumerCartId}" : {
        "post" : {
          "tags" : [ "Blaze PARTNER  Store - Store Cart" ],
          "summary" : "Submit Cart to be completed.",
          "description" : "",
          "operationId" : "submitCart",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "consumerCartId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/ConsumerCart"
            }
          }, {
            "name" : "cuid",
            "in" : "query",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerCart"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/cart/item/{orderItemId}/finalize" : {
        "post" : {
          "tags" : [ "Blaze PARTNER  Store - Store Cart" ],
          "summary" : "Finalize Item Cart",
          "description" : "",
          "operationId" : "finalizeItemCart",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "cuid",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "orderItemId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/ConsumerCart"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerCart"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/cart/item/{orderItemId}/unfinalize" : {
        "post" : {
          "tags" : [ "Blaze PARTNER  Store - Store Cart" ],
          "summary" : "Unfinalize Item Cart",
          "description" : "",
          "operationId" : "unfinalizeItemCart",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "cuid",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "orderItemId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/ConsumerCart"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerCart"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/cart/items/finalize" : {
        "post" : {
          "tags" : [ "Blaze PARTNER  Store - Store Cart" ],
          "summary" : "Finalize All Items in Cart",
          "description" : "",
          "operationId" : "finalizeAllOrderItems",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "cuid",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/ConsumerCart"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerCart"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/cart/{consumerCartId}/setConsumerUser/{consumerUserId}" : {
        "post" : {
          "tags" : [ "Blaze PARTNER  Store - Store Cart" ],
          "summary" : "Update Consumer User",
          "description" : "",
          "operationId" : "updateConsumerUser",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "consumerCartId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "consumerUserId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerCart"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/cart/{consumerCartId}/payments" : {
        "post" : {
          "tags" : [ "Blaze PARTNER  Store - Store Cart" ],
          "summary" : "Add Transaction Payments",
          "description" : "",
          "operationId" : "updateTransactionPayment",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "consumerCartId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/ConsumerCartAddPaymentRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerCart"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/cart/active" : {
        "get" : {
          "tags" : [ "Blaze PARTNER  Store - Store Cart" ],
          "summary" : "Get Active Cart",
          "description" : "",
          "operationId" : "getActiveCart",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "cuid",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "sessionId",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "externalId",
            "in" : "query",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerCart"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/cart/cancelCart/{consumerCartId}" : {
        "delete" : {
          "tags" : [ "Blaze PARTNER  Store - Store Cart" ],
          "summary" : "Cancel submitted order to the platform.",
          "description" : "",
          "operationId" : "cancelOrder",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "consumerCartId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerCart"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/cart/history" : {
        "get" : {
          "tags" : [ "Blaze PARTNER  Store - Store Cart" ],
          "summary" : "Get Consumer Order History",
          "description" : "",
          "operationId" : "getConsumerOrderHistory",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "cuid",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "start",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultConsumerCart"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/cart/prepare" : {
        "post" : {
          "tags" : [ "Blaze PARTNER  Store - Store Cart" ],
          "summary" : "Prepare Active Cart",
          "description" : "",
          "operationId" : "prepareActiveCart",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "cuid",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/ConsumerCart"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerCart"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/cart/product/findCost" : {
        "post" : {
          "tags" : [ "Blaze PARTNER  Store - Store Cart" ],
          "summary" : "Find Product cost",
          "description" : "",
          "operationId" : "findProductCost",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/ProductCostRequest"
            }
          }, {
            "name" : "cuid",
            "in" : "query",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ProductCostResult"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/cart/public/{publicKey}" : {
        "get" : {
          "tags" : [ "Blaze PARTNER  Store - Store Cart" ],
          "summary" : "Find Cart by public key",
          "description" : "",
          "operationId" : "findCartByPublicKey",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "publicKey",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerCartResult"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/consumer-order-qty/consumerCart/{consumerCartId}" : {
        "delete" : {
          "tags" : [ "Blaze PARTNER  Store - Store Cart" ],
          "summary" : "Delete consumer order quantities",
          "description" : "",
          "operationId" : "deleteConsumerOrderQtyByConsumerCart",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "consumerCartId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "default" : {
              "description" : "successful operation"
            }
          }
        }
      },
      "/api/v1/partner/store/consumer-order-qty/{productId}" : {
        "get" : {
          "tags" : [ "Blaze PARTNER  Store - Store Cart" ],
          "summary" : "Get Consumer Order Quantity By Product",
          "description" : "",
          "operationId" : "getConsumerOrderQuantityByProduct",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "productId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/definitions/ConsumerOrderQuantity"
                }
              }
            }
          }
        }
      },
      "/api/v1/partner/store/consumer-order-qty/{consumerOrderQtyId}" : {
        "delete" : {
          "tags" : [ "Blaze PARTNER  Store - Store Cart" ],
          "summary" : "Delete ConsumerOrderQty",
          "description" : "",
          "operationId" : "deleteConsumerOrderQty",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "consumerOrderQtyId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "default" : {
              "description" : "successful operation"
            }
          }
        }
      },
      "/api/v1/partner/store/user" : {
        "get" : {
          "tags" : [ "Blaze PARTNER Store - Consumer User" ],
          "summary" : "Get Active User Info",
          "description" : "",
          "operationId" : "getCurrentActiveUser",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "cuid",
            "in" : "query",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerUser"
              }
            }
          }
        },
        "post" : {
          "tags" : [ "Blaze PARTNER Store - Consumer User" ],
          "summary" : "Update User Info",
          "description" : "",
          "operationId" : "updateUserInfo",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "cuid",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/ConsumerUser"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerUser"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/user/dlPhoto" : {
        "post" : {
          "tags" : [ "Blaze PARTNER Store - Consumer User" ],
          "summary" : "Upload DL Photo",
          "description" : "",
          "operationId" : "uploadDLPhoto",
          "consumes" : [ "multipart/form-data" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "cuid",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "file",
            "in" : "formData",
            "required" : false,
            "type" : "file"
          }, {
            "name" : "name",
            "in" : "formData",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerUser"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/user/sign" : {
        "post" : {
          "tags" : [ "Blaze PARTNER Store - Consumer User" ],
          "summary" : "Sign Contract Info",
          "description" : "",
          "operationId" : "signContract",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "cuid",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/ContractSignRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerUser"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/user/assets/{assetKey}" : {
        "get" : {
          "tags" : [ "Blaze PARTNER Store - Consumer User" ],
          "summary" : "Get Asset",
          "description" : "",
          "operationId" : "getAssetStream_1",
          "produces" : [ "image/jpeg", "application/pdf", "image/png" ],
          "parameters" : [ {
            "name" : "cuid",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "assetKey",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "default" : {
              "description" : "successful operation"
            }
          }
        }
      },
      "/api/v1/partner/store/user/recPhoto" : {
        "post" : {
          "tags" : [ "Blaze PARTNER Store - Consumer User" ],
          "summary" : "Upload Recommendation Photo",
          "description" : "",
          "operationId" : "uploadRecPhoto",
          "consumes" : [ "multipart/form-data" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "cuid",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "file",
            "in" : "formData",
            "required" : false,
            "type" : "file"
          }, {
            "name" : "name",
            "in" : "formData",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ConsumerUser"
              }
            }
          }
        }
      },
      "/api/v1/partner/store/user/verify" : {
        "get" : {
          "tags" : [ "Blaze PARTNER Store - Consumer User" ],
          "summary" : "store - verify patient rec code",
          "description" : "",
          "operationId" : "verifyPatient",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "recNo",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "websiteType",
            "in" : "query",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/PatientVerificationStatus"
              }
            }
          }
        }
      },
      "/api/v1/partner/employees" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Employee" ],
          "summary" : "Search Employees",
          "description" : "",
          "operationId" : "getEmployees",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "start",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "currentEmployeeId",
            "in" : "query",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultEmployeeResult"
              }
            }
          }
        }
      },
      "/api/v1/partner/employees/drivers/nearby" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Employee" ],
          "summary" : "Get employee distance details",
          "description" : "",
          "operationId" : "getEmployeeDistanceDetails",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "lat",
            "in" : "query",
            "required" : false,
            "type" : "number",
            "format" : "double"
          }, {
            "name" : "long",
            "in" : "query",
            "required" : false,
            "type" : "number",
            "format" : "double"
          }, {
            "name" : "useRegion",
            "in" : "query",
            "required" : false,
            "type" : "boolean"
          }, {
            "name" : "useTerminal",
            "in" : "query",
            "required" : false,
            "type" : "boolean"
          }, {
            "name" : "zipCode",
            "in" : "query",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/definitions/DeliveryEmployeeDetails"
                }
              }
            }
          }
        }
      },
      "/api/v1/partner/employees/{employeeId}" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Employee" ],
          "summary" : "Search Employees",
          "description" : "",
          "operationId" : "getEmployeeById",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "employeeId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/Employee"
              }
            }
          }
        }
      },
      "/api/v1/partner/employees/drivers/auto-assigned" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Employee" ],
          "summary" : "Get auto-assigned driver",
          "description" : "",
          "operationId" : "getAutoAssignedDriver",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "lat",
            "in" : "query",
            "required" : false,
            "type" : "number",
            "format" : "double"
          }, {
            "name" : "long",
            "in" : "query",
            "required" : false,
            "type" : "number",
            "format" : "double"
          }, {
            "name" : "zipCode",
            "in" : "query",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/DeliveryDriverEmployeeResult"
              }
            }
          }
        }
      },
      "/api/v1/partner/loyalty/promotions/{promotionId}" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Loyalty" ],
          "summary" : "Get Promotion By Id",
          "description" : "",
          "operationId" : "getPromotionById",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "promotionId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/Promotion"
              }
            }
          }
        },
        "put" : {
          "tags" : [ "Blaze Partner Store - Loyalty" ],
          "summary" : "Update Promotions",
          "description" : "",
          "operationId" : "updatePromotion",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "promotionId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/Promotion"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/Promotion"
              }
            }
          }
        },
        "delete" : {
          "tags" : [ "Blaze Partner Store - Loyalty" ],
          "summary" : "Delete Promotions",
          "description" : "",
          "operationId" : "deletePromotion",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "promotionId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "default" : {
              "description" : "successful operation"
            }
          }
        }
      },
      "/api/v1/partner/loyalty/promotions" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Loyalty" ],
          "summary" : "Get Promotion List",
          "description" : "",
          "operationId" : "getPromotions",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "start",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultPromotion"
              }
            }
          }
        },
        "post" : {
          "tags" : [ "Blaze Partner Store - Loyalty" ],
          "summary" : "Add Promotions",
          "description" : "",
          "operationId" : "addPromotion",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/PartnerAddPromotionRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/Promotion"
              }
            }
          }
        }
      },
      "/api/v1/partner/loyalty/promotions/code/{promocode}" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Loyalty" ],
          "summary" : "Get Promotion List",
          "description" : "",
          "operationId" : "getPromotions_1",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "promocode",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/PromotionMemberResult"
              }
            }
          }
        }
      },
      "/api/v1/partner/loyalty/points" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Loyalty" ],
          "summary" : "Get Loyalty Points for member",
          "description" : "",
          "operationId" : "getLoyaltyPoints",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "memberId",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "consumerUserId",
            "in" : "query",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/MemberLoyaltyPoints"
              }
            }
          }
        },
        "post" : {
          "tags" : [ "Blaze Partner Store - Loyalty" ],
          "summary" : "Update Loyalty Points for Members",
          "description" : "",
          "operationId" : "updateLoyaltyPoints",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/UpdateLoyaltyPointRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/MemberLoyaltyPoints"
              }
            }
          }
        }
      },
      "/api/v1/partner/loyalty/rewards/members/{memberId}" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Loyalty" ],
          "summary" : "Get Rewards for member",
          "description" : "",
          "operationId" : "getAllRewards",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "memberId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultLoyaltyMemberReward"
              }
            }
          }
        }
      },
      "/api/v1/partner/loyalty/rewards" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Loyalty" ],
          "summary" : "Get Rewards List",
          "description" : "",
          "operationId" : "getRewards",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "start",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultLoyaltyReward"
              }
            }
          }
        }
      },
      "/api/v1/partner/loyalty/loyalty/activity" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Loyalty" ],
          "summary" : "Get Loyalty Activities",
          "description" : "",
          "operationId" : "getLoyaltyActivity",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "memberId",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "consumerUserId",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "start",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultLoyaltyActivityLog"
              }
            }
          },
          "deprecated" : true
        }
      },
      "/api/v1/partner/loyalty/activity" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Loyalty" ],
          "summary" : "Get Loyalty Activities",
          "description" : "",
          "operationId" : "getLoyaltyActivity2",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "memberId",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "consumerUserId",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "start",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultLoyaltyActivityLog"
              }
            }
          }
        }
      },
      "/api/v1/partner/members" : {
        "get" : {
          "tags" : [ "Blaze Partner Memberships" ],
          "summary" : "Get member list",
          "description" : "",
          "operationId" : "getMemberList",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "startDate",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int64"
          }, {
            "name" : "endDate",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int64"
          }, {
            "name" : "skip",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultMember"
              }
            }
          }
        },
        "post" : {
          "tags" : [ "Blaze Partner Memberships" ],
          "summary" : "Add New Member",
          "description" : "",
          "operationId" : "addNewMember",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/MembershipAddRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/Member"
              }
            }
          }
        }
      },
      "/api/v1/partner/members/{memberId}" : {
        "get" : {
          "tags" : [ "Blaze Partner Memberships" ],
          "summary" : "Get Member By Id",
          "description" : "",
          "operationId" : "getMemberById",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "memberId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/Member"
              }
            }
          }
        },
        "put" : {
          "tags" : [ "Blaze Partner Memberships" ],
          "summary" : "Update Member",
          "description" : "",
          "operationId" : "updateMember",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "memberId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/MembershipUpdateRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/Member"
              }
            }
          }
        }
      },
      "/api/v1/partner/members/email/{email}" : {
        "get" : {
          "tags" : [ "Blaze Partner Memberships" ],
          "summary" : "Get Member By Email",
          "description" : "",
          "operationId" : "getMemberByEmail",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "email",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/Member"
              }
            }
          }
        }
      },
      "/api/v1/partner/members/{memberId}/limits" : {
        "get" : {
          "tags" : [ "Blaze Partner Memberships" ],
          "summary" : "Get member limit",
          "description" : "",
          "operationId" : "getMemberLimit",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "memberId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "type" : "object",
                "additionalProperties" : {
                  "type" : "number"
                }
              }
            }
          }
        }
      },
      "/api/v1/partner/members/search" : {
        "get" : {
          "tags" : [ "Blaze Partner Memberships" ],
          "summary" : "Get members by licence number",
          "description" : "",
          "operationId" : "getMembersByLicenceNo",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "licenceNumber",
            "in" : "query",
            "required" : false,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ListResultMember"
              }
            }
          }
        }
      },
      "/api/v1/partner/members/search/dob" : {
        "get" : {
          "tags" : [ "Blaze Partner Memberships" ],
          "summary" : "Get members by dob",
          "description" : "",
          "operationId" : "getMembersByDob",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "dob",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "start",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultMember"
              }
            }
          }
        }
      },
      "/api/v1/partner/members/search/phone" : {
        "get" : {
          "tags" : [ "Blaze Partner Memberships" ],
          "summary" : "Get members by phone number",
          "description" : "",
          "operationId" : "getMembersByPhoneNumber",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "phoneNumber",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "isByShop",
            "in" : "query",
            "required" : false,
            "type" : "boolean"
          }, {
            "name" : "start",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/ListResultMember"
              }
            }
          }
        }
      },
      "/api/v1/partner/members/{memberId}/metadata" : {
        "put" : {
          "tags" : [ "Blaze Partner Memberships" ],
          "summary" : "Update Member Metadata",
          "description" : "",
          "operationId" : "updateMemberMetadata",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "memberId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/MetadataUpdateRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/Member"
              }
            }
          }
        }
      },
      "/api/v1/partner/members/days" : {
        "get" : {
          "tags" : [ "Blaze Partner Memberships" ],
          "summary" : "Get member list by days",
          "description" : "",
          "operationId" : "getMemberListByWeek",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "startDate",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int64"
          }, {
            "name" : "days",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "default" : 1,
            "format" : "int32"
          }, {
            "name" : "skip",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultMember"
              }
            }
          }
        }
      },
      "/api/v1/partner/members/{memberId}/limits/remaining" : {
        "get" : {
          "tags" : [ "Blaze Partner Memberships" ],
          "summary" : "Get remaining member limit",
          "description" : "",
          "operationId" : "getMemberLimitRemaining",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "memberId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/MemberLimit"
              }
            }
          }
        }
      },
      "/api/v1/partner/members/referral-qr/{consumerMemberId}" : {
        "get" : {
          "tags" : [ "Blaze Partner Memberships" ],
          "summary" : "Create Label with consumerMemberId",
          "description" : "",
          "operationId" : "createLabelWithMemberId",
          "produces" : [ "image/jpeg", "image/png", "application/pdf" ],
          "parameters" : [ {
            "name" : "consumerMemberId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "default" : {
              "description" : "successful operation"
            }
          }
        }
      },
      "/api/v1/partner/payments/balance" : {
        "post" : {
          "tags" : [ "Blaze PARTNER Payments" ],
          "summary" : "Check balance of a Payment Card",
          "description" : "",
          "operationId" : "paymentCardBalanceCheck",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/PaymentCardBalanceCheckRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/PaymentCardBalanceCheckResponse"
              }
            }
          }
        }
      },
      "/api/v1/partner/payments/load" : {
        "post" : {
          "tags" : [ "Blaze PARTNER Payments" ],
          "summary" : "Load a Payment Card",
          "description" : "",
          "operationId" : "loadPaymentCard",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/LoadPaymentCardRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/LoadPaymentCardResponse"
              }
            }
          }
        }
      },
      "/api/v1/partner/products/{productId}/metadata" : {
        "put" : {
          "tags" : [ "Blaze Partner Products" ],
          "summary" : "Update Product Meta Data",
          "description" : "",
          "operationId" : "updateProductMetaData",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "productId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/MetadataUpdateRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/Product"
              }
            }
          }
        }
      },
      "/api/v1/partner/products/prices/sync" : {
        "get" : {
          "tags" : [ "Blaze Partner Products" ],
          "summary" : "Sync group pricing",
          "description" : "",
          "operationId" : "syncPricingGroup",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "afterDate",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int64"
          }, {
            "name" : "beforeDate",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int64"
          }, {
            "name" : "cursor",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/DateSearchResultPricingGroupRes"
              }
            }
          }
        }
      },
      "/api/v1/partner/products" : {
        "get" : {
          "tags" : [ "Blaze Partner Products" ],
          "summary" : "Get list of products",
          "description" : "",
          "operationId" : "getProducts",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "startDate",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "endDate",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "skip",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "syncToThirdPartyMenus",
            "in" : "query",
            "required" : false,
            "type" : "boolean"
          }, {
            "name" : "active",
            "in" : "query",
            "required" : false,
            "type" : "boolean"
          }, {
            "name" : "instock",
            "in" : "query",
            "required" : false,
            "type" : "boolean"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultProduct"
              }
            }
          }
        },
        "post" : {
          "tags" : [ "Blaze Partner Products" ],
          "summary" : "Create product",
          "description" : "",
          "operationId" : "addProduct",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/ProductAddRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/Product"
              }
            }
          }
        }
      },
      "/api/v1/partner/products/{productId}" : {
        "get" : {
          "tags" : [ "Blaze Partner Products" ],
          "summary" : "Get product by id",
          "description" : "",
          "operationId" : "searchProducts",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "productId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "name" : "omitTaxTables",
            "in" : "query",
            "required" : false,
            "type" : "boolean"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/Product"
              }
            }
          }
        },
        "put" : {
          "tags" : [ "Blaze Partner Products" ],
          "summary" : "Update Product",
          "description" : "",
          "operationId" : "updateProduct",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "productId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/PartnerProductUpdateRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/Product"
              }
            }
          }
        }
      },
      "/api/v1/partner/products/sku/{sku}" : {
        "get" : {
          "tags" : [ "Blaze Partner Products" ],
          "summary" : "Get product by SKU",
          "description" : "",
          "operationId" : "searchProductsBySku",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "sku",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/Product"
              }
            }
          }
        }
      },
      "/api/v1/partner/products/modified" : {
        "get" : {
          "tags" : [ "Blaze Partner Products" ],
          "summary" : "Get list of products by modified date",
          "description" : "",
          "operationId" : "getProductsModified",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "startDate",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int64"
          }, {
            "name" : "endDate",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int64"
          }, {
            "name" : "skip",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultProduct"
              }
            }
          }
        }
      },
      "/api/v1/partner/products/nearby" : {
        "get" : {
          "tags" : [ "Blaze Partner Products" ],
          "summary" : "Get list of nearby products",
          "description" : "",
          "operationId" : "getNearbyProducts",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "lat",
            "in" : "query",
            "required" : false,
            "type" : "number",
            "format" : "double"
          }, {
            "name" : "long",
            "in" : "query",
            "required" : false,
            "type" : "number",
            "format" : "double"
          }, {
            "name" : "useRegion",
            "in" : "query",
            "description" : "if true you will get all the products with available inventories that are within the found region",
            "required" : false,
            "type" : "boolean"
          }, {
            "name" : "overrideInventoryId",
            "in" : "query",
            "description" : "Override the inventory assigned to the nearby region",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "zipCode",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "skip",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "productIds",
            "in" : "query",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "collectionFormat" : "multi"
          }, {
            "name" : "categoryIds",
            "in" : "query",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "collectionFormat" : "multi"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchRegionResultProduct"
              }
            }
          }
        }
      },
      "/api/v2/partner/products/nearby" : {
        "get" : {
          "tags" : [ "Blaze Partner Products V2" ],
          "summary" : "Get list of nearby products",
          "description" : "",
          "operationId" : "getNearbyProducts_1",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "lat",
            "in" : "query",
            "required" : false,
            "type" : "number",
            "format" : "double"
          }, {
            "name" : "long",
            "in" : "query",
            "required" : false,
            "type" : "number",
            "format" : "double"
          }, {
            "name" : "useRegion",
            "in" : "query",
            "description" : "if true you will get all the products with available inventories that are within the found region",
            "required" : false,
            "type" : "boolean"
          }, {
            "name" : "overrideInventoryId",
            "in" : "query",
            "description" : "Override the inventory assigned to the nearby region",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "zipCode",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "skip",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "productIds",
            "in" : "query",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "collectionFormat" : "multi"
          }, {
            "name" : "categoryIds",
            "in" : "query",
            "required" : false,
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "collectionFormat" : "multi"
          }, {
            "name" : "fields",
            "in" : "query",
            "description" : "Specify fields separated by commas. To specify fields inside objects can be done as follows: parent:(child)",
            "required" : false,
            "type" : "string",
            "x-example" : "id,baz:(beep:(deep)),abc"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultProductResponse"
              }
            }
          }
        }
      },
      "/api/v1/partner/purchaseorders/{purchaseOrderId}" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Purchase Order" ],
          "summary" : "Get Purchase Order by id",
          "description" : "",
          "operationId" : "getPurchaseOrderById",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "purchaseOrderId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/PurchaseOrderItemResult"
              }
            }
          }
        },
        "put" : {
          "tags" : [ "Blaze Partner Store - Purchase Order" ],
          "summary" : "Update Purchase Order",
          "description" : "",
          "operationId" : "updatePurchaseOrder",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "purchaseOrderId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }, {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/PartnerPurchaseOrderUpdateRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/PurchaseOrder"
              }
            }
          }
        }
      },
      "/api/v1/partner/purchaseorders/list" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Purchase Order" ],
          "summary" : "Get purchase order list",
          "description" : "",
          "operationId" : "getAllPurchaseOrder",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "startDate",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "endDate",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "start",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultPurchaseOrderItemResult"
              }
            }
          }
        }
      },
      "/api/v1/partner/purchaseorders" : {
        "post" : {
          "tags" : [ "Blaze Partner Store - Purchase Order" ],
          "summary" : "Create Purchase Order",
          "description" : "",
          "operationId" : "addPurchaseOrder",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/PartnerPurchaseOrderAddRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/PurchaseOrder"
              }
            }
          }
        }
      },
      "/api/v1/partner/purchaseorders/prepare" : {
        "post" : {
          "tags" : [ "Blaze Partner Store - Purchase Order" ],
          "summary" : "Prepare Purchase Order",
          "description" : "",
          "operationId" : "preparePurchaseOrder",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/PartnerPurchaseOrderAddRequest"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/PurchaseOrder"
              }
            }
          }
        }
      },
      "/api/v1/partner/purchaseorders/dates" : {
        "get" : {
          "tags" : [ "Blaze Partner Store - Purchase Order" ],
          "summary" : "Get purchase order list",
          "description" : "",
          "operationId" : "getAllPurchaseOrderDates",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "startDate",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "endDate",
            "in" : "query",
            "required" : false,
            "type" : "string"
          }, {
            "name" : "start",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultPurchaseOrderItemResult"
              }
            }
          }
        }
      },
      "/api/v1/partner/reconciliations" : {
        "get" : {
          "tags" : [ "Blaze Partner Inventory Reconciliations" ],
          "summary" : "Get Reconciliation History",
          "description" : "",
          "operationId" : "getReconciliationHistory",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "requestNo",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int64"
          }, {
            "name" : "start",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          }, {
            "name" : "limit",
            "in" : "query",
            "required" : false,
            "type" : "integer",
            "format" : "int32"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "schema" : {
                "$ref" : "#/definitions/SearchResultReconciliationHistory"
              }
            }
          }
        },
        "post" : {
          "tags" : [ "Blaze Partner Inventory Reconciliations" ],
          "summary" : "Create Reconciliation Request",
          "description" : "",
          "operationId" : "createReconciliation",
          "consumes" : [ "application/json" ],
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "in" : "body",
            "name" : "body",
            "required" : false,
            "schema" : {
              "$ref" : "#/definitions/PartnerReconciliationRequest"
            }
          } ],
          "responses" : {
            "200" : {
[...]
